* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
    background-image: url(./resources/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.capa{
    opacity: 0.7;
}

.login {
    text-align: center;
    font-size: 50px;
}

.contenedor{
    display: grid;
    place-items: center;
    height: 90vh;
}

.card {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}

.card{
    background: linear-gradient(180deg, #feb692 0%, #FFFFFF 30.21%);
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/*INPUTS Y ANIMACION*/

.text1 {
    color: ;
    user-select: none;
    display: grid;
    width: 200px;
    padding: 1.5rem 0;
    grid-template-areas: "input1";

    >* {
        grid-area: input;
    }
}

.text2 {
    user-select: none;
    display: grid;
    width: 200px;
    padding: 1.5rem 0;
    grid-template-areas: "input2";

    >* {
        grid-area: input;
    }
}

.span1 {
    transform-origin: left;
    transition: transform .3s, color .3s;
}

.span2 {
    transform-origin: left;
    transition: transform .3s, color .3s;
}

.input1 {
    user-select: none;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid slategrey;
    font: inherit;

    &:focus+.span1,
    &:not(:placeholder-shown)+.span1 {
        color: rgb(255, 176, 127);
        transform: translate(0, -100%) scale(.8);
    }
}

.input2 {
    user-select: none;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid slategrey;
    font: inherit;

    &:focus+.span2,
    &:not(:placeholder-shown)+.span2 {
        color: rgb(255, 176, 127);
        transform: translate(0, -100%) scale(.8);
    }
}

/*-----------------*/

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
  .btn {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }